
{{!-- Pulling together the lists for each column that shows the not eaten vs. eaten burgers along with their buttons. --}}

<div class="card" id="bun">
  <div class="card-body">
    <h1>Delicious Hamburgers</h1>
  </div>
</div>

<div class="orders">
  <div class="row" id="lists">
    <div class="col-6">
      <h2 class="title">Pick a hamburger to eat.</h2>

    {{!-- Sets up not eaten list and bulls in burger-block file. --}}
      <ul>
        {{#each burger}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-6">
      <h2 class="title">Burgers that have been eaten.</h2>

      {{!-- Sets up burgers that have been eaten list and brings in burger2-block file. --}}
      <ul>
        {{#each burger}}
        {{#if devoured}}
        {{> burgers/burger2-block}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

{{!-- Sets up the form for adding a burger at the bottom of the page.  --}}
<div class="card" id="add-burger">

  <h2 class="addback">Add a Burger</h2>

  <form class="row row-cols-lg-auto g-3 align-items-center" id="create-form">
    <div class="col-12">
      <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="burger_name">
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-sm add-burg" type="submit">Add Burger</button>
    </div>
  </form>
</div>