
<li>
    <div class="row">
    <div class="col-9">
        {{burger_name}}
    </div>
    <div class="col-3">
        <button class="btn devour" data-id="{{id}}" data-devoured="{{devoured}}">
            {{#if devoured}}Eat Burger!{{/if}}
        </button>
    </div>
    </div>
</li>