
{{!-- Set up list for burgers that have been eaten and buttons to delete them fromt the databse. --}}

<li>
    <div class="row">
        <div class="col-8">
            {{burger_name}}
        </div>
        <div class="col-4">
            <button class="btn btn-md delete-burger" data-id="{{this.id}}">Remove Burger!</button>
        </div>
    </div>
</li>